.home {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 1s ease-in-out, opacity 1s ease-in-out;
  overflow-y: auto;
}

.section.collapsing {
  height: 0;
  opacity: 0;
}

.container {
  /* max-width: 100rem; */
  padding: 0.25rem 1rem;
}

.container img {
  height: 100%;
}

/* .casaAmarelaSection {
  height: 100vh;
  overflow: hidden;
}

.casaAmarela {
  display: flex;
  gap: 3.5rem;
  padding: 0rem 6rem;
  position: relative;
  align-items: center;
}

.casaAmarelaImg {
  position: relative;
}*/

.casaAmarelaImg img {
  border-radius: 4.75rem;
  width: 100%;
  height: auto;
}

.casaAmarelaBarrinha {
  position: absolute;
  top: 29%;
  left: -7rem;
}

.casaAmarelaInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.hospitalityInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.hospitality {
  display: flex;
  gap: 3.5rem;
  padding: 3rem 6rem;
  background-color: var(--color-red);
  align-items: center;
}

.hospitalityTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.houses {
  display: flex;
  gap: 3.5rem;
  padding: 0.5rem 0.5rem;
  position: relative;
}

.houses img {
  height: 100%;
  width: 100%;
}

.casaRio {
  position: absolute;
  bottom: 40%;
  left: 2%;
}

.casaCaju {
  position: absolute;
  bottom: 42%;
  left: 12%;
}

.casaSal {
  position: absolute;
  bottom: 56%;
  left: 19%;
}

.casaCamua {
  position: absolute;
  bottom: 38%;
  left: 26%;
}

.casaBaete {
  position: absolute;
  bottom: 45%;
  left: 36%;
}

.casaDecker {
  position: absolute;
  bottom: 60%;
  left: 33%;
}

.casaDharma {
  position: absolute;
  bottom: 57%;
  left: 46%;
}

.casaBruxa {
  position: absolute;
  bottom: 45%;
  left: 50%;
}

.cardReserva {
  position: absolute;
  bottom: 20%;
  right: 5%;
}
.home {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 1s ease-in-out, opacity 1s ease-in-out;
  overflow-y: auto;
}

.section.collapsing {
  height: 0;
  opacity: 0;
}

.container {
  padding: 0.25rem 1rem;
}

.container img {
  height: 100%;
}

.casaAmarelaImg img {
  border-radius: 4.75rem;
  width: 100%;
  height: auto;
}

.casaAmarelaBarrinha {
  position: absolute;
  top: 29%;
  left: -7rem;
}

.casaAmarelaInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.hospitalityInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.casaAmarelaEstatisticas svg {
  padding: 0;
  width: 100%;
}

.casaAmarelaSection {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.casaAmarelaImg,
.casaAmarelaEstatisticas {
  position: absolute;
  top: 0;
  left: 10%;
  width: 50%;
  height: 100%;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  display: flex;
  align-items: center;
}

.casaAmarelaImg {
  transform: translateY(0);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.casaAmarelaImg.hidden {
  transform: translateY(-100%);
  opacity: 1;
}

.casaAmarelaEstatisticas {
  transform: translateY(100%);
  opacity: 0;
}

.casaAmarelaEstatisticas.visible {
  transform: translateY(0);
  opacity: 1;
}

.casaAmarelaInfoContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.casaAmarelaInfo {
  padding: 20px;
}

.piaWoodEstatisticas svg {
  padding: 0;
  width: 100%;
}

.piawoodSection {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 3rem;
}

.piawoodImg,
.piaWoodEstatisticas {
  position: absolute;
  top: 0;
  left: 10%;
  width: 50%;
  height: 100%;
  transition: height 1s ease-in-out, transform 1s ease-in-out,
    opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piawoodImg {
  transform: translateY(0);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.piawoodImg.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.piaWoodEstatisticas {
  transform: translateY(100%);
  opacity: 0;
  height: 0;
}

.piaWoodEstatisticas.visible {
  transform: translateY(0);
  opacity: 1;
  height: 100%;
}

.piawoodInfoContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.piawoodInfo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.piawoodInfo {
  padding: 20px;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
}

.visible {
  opacity: 0;
  transform: translateY(0);
}

.eventsSection {
  flex-direction: column;
  justify-content: end;
}

.eventsSpace {
  display: block;
}

.events {
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10rem 6rem;
  position: relative;
  width: 100%;
}

.eventsImg {
  position: absolute;
  bottom: -1%;
  right: 2%;
}

.eventsImgMobile {
  display: none;
  position: absolute;
  bottom: -2%;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}

.yellowFilme {
  display: flex;
  gap: 3.5rem;
  background: var(--color-orange-accent);
  justify-content: center;
}

.videoBanner {
  flex-direction: column;
  padding: 0.5rem;
}

.videoBanner img {
  border-radius: 1rem;
  height: 100%;
  width: max-content;
}

.cardButtons {
  display: none;
}

.curtainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 9999;
  transition: transform 2s ease-in-out;
}

.leftCurtain {
  left: 0;
  transform: translateX(0);
  background: url("/src/Assets/curtain_left.png") no-repeat;
  background-size: 100% 100%;
}

.rightCurtain {
  right: 0;
  transform: translateX(0);
  background: url("/src/Assets/curtain_right.png") no-repeat;
  background-size: 100% 100%;
}

.curtainContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--color-orange-accent);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.curtainContent.visible {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .casaAmarelaImg,
  .casaAmarelaEstatisticas,
  .piawoodImg,
  .piaWoodEstatisticas {
    transition: none;
    transform: none;
    opacity: 1;
    position: static;
  }
  .casaAmarela {
    flex-direction: column-reverse;
    padding: 0rem 3rem;
    gap: 2rem;
  }

  .container {
    padding: 0.25rem 0.5rem;
  }

  .container {
    padding: 0.25rem 0.5rem;
  }

  .container img {
    width: 100%;
    /* height: auto; */
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .casaAmarela img {
    border-radius: 1rem;
    margin-top: 2rem;
  }

  .casaAmarelaInfo {
    align-items: center;
    height: 100%;
    padding: 0;
  }

  .hospitalityInfo {
    align-items: center;
    height: auto;
  }

  .casaAmarelaSection {
    flex-direction: column-reverse;
    padding: 1rem 3rem;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .casaAmarelaBarrinha {
    position: absolute;
    top: -5.5rem;
    left: -6rem;
    width: 25rem;
  }
  .casaAmarelaImg img {
    border-radius: 2rem;
  }
  .casaAmarelaDiv {
    position: relative;
  }
  .casaAmarelaInfoContainer {
    justify-content: center;
    height: min-content;
    padding: 0rem 3rem;
  }
  .casaAmarelaImg {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    padding: 0rem 10rem;
  }
  .casaAmarelaEstatisticas {
    width: 100%;
    height: min-content;
    padding: 0rem 10rem;
    left: 0;
    transform: none;
  }
  .casaAmarelaEstatisticas svg {
    width: 100%;
    height: min-content;
  }

  .hospitality {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 3rem;
  }
  .hospitalityTitle {
    flex-direction: row;
    align-items: center;
  }

  .hospitalityRoom svg {
    max-width: 100%;
    height: min-content;
    padding: 2rem 0rem;
  }

  .housesMap {
    background: url("/src/Assets/hospitality_map_mobile.svg") center no-repeat;
    padding: 0.25rem 0.5rem;
  }

  .casaBaete,
  .casaBruxa,
  .casaCaju,
  .casaCamua,
  .casaDecker,
  .casaRio,
  .casaSal {
    display: none;
  }

  .cardReserva {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
  }

  .cardReservaMobile {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .cardButtons {
    display: block;
  }

  .piawoodSection {
    flex-direction: column-reverse;
    padding: 3rem;
  }

  .piawoodInfoContainer {
    justify-content: center;
    height: min-content;
    gap: 1rem;
  }

  .piawoodInfo {
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .piawood {
    flex-direction: column-reverse;
    padding: 1rem 3rem;
  }

  .piawoodImg svg {
    height: auto;
    width: 50%;
  }

  .piawoodImg {
    width: 100%;
    position: relative;
    left: 0;
  }

  .piaWoodEstatisticas {
    width: 100%;
    height: 100%;
    padding: 0rem 3rem;
    position: relative;
    left: 0;
  }

  .piaWoodEstatisticas img {
    height: 100%;
    left: 0;
  }

  .eventsSpace {
    /* display: none; */
    height: 100%;
  }

  .events {
    display: flex;
    padding: 3rem 1rem;
    max-width: 100%;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .eventsImg {
    display: none;
  }

  .eventsImgMobile {
    display: block;
    max-width: 100%;
    right: 5%;
    bottom: 0;
  }

  .yellowFilme {
    flex-direction: column-reverse;
    background-color: var(--color-orange-accent);
    background-image: none;
    
  }

  .yellowFilmeImg svg {
    width: 100%;
  }

  .videoBanner {
    flex-direction: column;
  }

  .curtainContent {
    flex-direction: column-reverse;
    padding: 1rem 1rem;
    gap: 4rem;
  }
}
