.button {
  text-wrap: nowrap;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.red {
  background-color: var(--color-red);
  color: var(--color-red-accent);
}

.blue {
  background-color: var(--color-blue);
  color: var(--color-blue-accent);
}

.green {
  background-color: var(--color-green);
  color: var(--color-green-accent);
}

.yellow {
  background-color: var(--color-yellow);
  color: var(--color-yellow-accent);
}

@media only screen and (max-width: 600px) {
  .button {
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
  }
}