.carousel {
  display: flex;
  gap: 0.25rem;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 38%;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .carousel {
    bottom: 1rem;
  }
  .carousel svg {
    width: 0.5rem;
  }
}