.carousel {
  display: flex;
  gap: 0.25rem;
  position: absolute;
  width: 100%;
  align-items: center;
  bottom: 38%;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .carousel {
    bottom: 2rem;
  }
  .carousel svg {
    /* width: 0.5rem; */
  }
}