.title {
  font-size: 3rem;
  font-family: 'League Gothic';
  font-weight: 400;
}

.yellow {
  color: var(--color-yellow);
}

.red {
  color: var(--color-red);
}

.redAccent3 {
  color: var(--color-red-accent-3);
}

.black {
  color: var(--c6);
}

.green {
  color: var(--color-green);
}

.brown {
  color: var(--color-brown);
}

.bigger {
  font-size: 6rem;
}

.small {
  font-size: 2rem;
}

.smaller {
  font-size: 1.5rem;
}

.left {
  text-align: start !important;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    text-align: center;
    text-wrap:nowrap;
  }
}
