.title {
  font-size: 3rem;
  font-family: 'League Gothic';
  font-weight: 400;
}

.yellow {
  color: var(--color-yellow);
}

.red {
  color: var(--color-red);
}

.redAccent3 {
  color: var(--color-red-accent-3);
}

.black {
  color: var(--c6);
}

.green {
  color: var(--color-green);
}


.bigger {
  font-size: 6rem;
}

.smaller {
  font-size: 1.5rem;
}
